.news-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.news-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-inline: auto;
  margin-block: 2rem;
}

.news-pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.no-news-placeholder {
  width: 500px;
  height: 200px;
  padding: 1rem;
  border-radius: 1rem;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
}
